.video-container {
    background-color: transparent;
    position: absolute;
    width: 100vw; 
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.8vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
  }

@media screen and (min-width: 768px) {
  .video-container {
    width: 80vw; 
    height: 45vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 80vh;
    max-width: 142.2vh; /* 16/9 = 1.778 */
  }
}
  
.video-container-inner{
  /* width and height must be equal to preserve ratio */
  width: 100%;
  height: 100%;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  /* Bring to front */
  z-index: 1;
}

.video-container-deco{
  position:absolute;
  width: 100%;
  height: 100%;
  overflow:visible;
}

video {
  /* ratio is handled in container */
  width:100%;
  height:100%;
}

.video-label {
  position: absolute;
  
  font-size: 4vw;

  &.top {
    right: 12%;
    top: -12%;
  }
  &.bottom {
    left: 12%;
    bottom: -10%;
  }
}

.no-border{
  border-radius:0rem !important;
  border:none !important;
}

.btn-naked {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.btn-naked:focus {
  outline: none;
}

.t-0 {
  top: 0;
}

.t-50{
  top: 50%;
}

.b-0 {
  bottom: 0;
}

.r-0 {
  right: 0;
}

.l-0 {
  left: 0;
}

.z-9 {
  z-index: 9;
}

.logo {
	position: absolute;
	width: 40px;
	left: 30px;
	top: 30px;
}

.indicator {
    max-width: 48px;
    margin-bottom:20px;
}

.robotinfo {
	position: absolute;
  right:0;
  top:0;
  text-align: right;
  font-size: 12px;
  padding: 30px;
}

.kids-view-link{
  font-family: Apercu;
  text-decoration-line: underline;
  color: black;
}

.tagline {
	position: absolute;
	height: 12px;
	right: 30px;
	bottom: 22px;
	font-family: Apercu;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	text-align: right;
}

.btn-image {
  position: relative;
  top: -1px;
  max-width: 100%;
}

.btn-dropdown {
  background-color: white!important;
  width: 40px;
  height: 40px;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .btn-dropdown {
    width: 64px;
    height: 64px;
    padding: 14px;
  }
}

.text-white{
  color:white;
}

.shadow{
  box-shadow: 0px 0px 10px 0px #000000 50%;
}

.text-shadow{
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.user-list{
  background-color: white;
  margin-top:10px;
  width: 160px;
}

.flip-container{
  position: absolute;
  width: 100%;
  top: -50%;
  height: 50%;
  display: flex;
  justify-content: center;
  padding:15px;
}

.flip-container-inner{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (min-width: 500px) {
  .flip-container{
    display:none;
  }
}

.chat-phone{
  position: absolute;
  width: 100%;
  bottom: -50%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin: 0!important;
  padding: 20px;
  font-size:12px;
}

.chat{
  position: absolute;
	height: 12px;
	left: 30px;
	bottom: 22px;
	font-family: Apercu;
	font-style: normal;
	font-size: 12px;
	line-height: 12px;
	text-align: left;
}

@media screen and (max-width: 768px) {
  .chat{
    display:none;
  }
}

@media screen and (min-width: 768px) {
  .chat-phone{
    display:none;
  }
}

$colors: red, orange, yellow, blue;
$size: 10;

@mixin rainbow-shadow($colors, $offset: 0, $size: $size) {
  $len: length($colors);
  $outp: 0px 0px transparent;
  @for $i from 1 through $size {
    $ind: floor( max($i + $offset, 1) / $size * length($colors) ) % $len + 1;
    $col: nth($colors, $ind);
    $outp: #{$outp}, #{$i}px #{$i}px #{$col};
  }
  
  text-shadow: $outp;
}

.animated-rainbow-text {
  animation: animated-rainbow-shadow 1s infinite;
}

@keyframes animated-rainbow-shadow {
  @for $i from 0 to $size + 1 {
    #{$i / $size * 100}% {
      @include rainbow-shadow($colors, $i);
    }
  }
}

@mixin no-select() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin nipple-shadow() {
  @include no-select();
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 0 2px 0 white;
  color: white;
}

.front {
  @include nipple-shadow();
  opacity: 1;
}

.back {
  @include nipple-shadow();
  opacity: 0.5;
}