@import 'styles/Colors.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background-color: $pink;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
}

.full{
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    overflow: hidden;
}

.loader{
    z-index: 9999;
    background-color:$pink;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center
}

.threeD{
    color: $green;
    font-style: italic;
    font-weight: 900;

    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px;
}

.skew{
    transform: rotate(-10deg);
}

.clicker{
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position:fixed;
    transform:rotate(10deg);
}